#title{
    background: #ff4c68;
}

body{
    font-family: "Montserrat", "Arial";
}

h1{
    font-weight: bold;
    size: 3rem;
    line-height: 1.5;
    color: white;
    /* margin: 2em 0; */
}

.container-fluid{
    padding: 3% 15%;
}

#iphone-image{
    transform: rotate(20deg);
    width: 50%;
}

/*Nav Bar*/
.navbar{
    padding-bottom: 4.5em;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 70px;
    font-weight: 400;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 20px;
    font-weight: 300;
    margin: 0 10px 0 10px;
    text-align: center;
}

/*Download buttons*/
.download-button{

   margin: 30px 1rem 0 0;
}
